@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.banner-swiper {
  width: 100%;
  height: 100%;
}

.category-swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (min-width: 640px) {
  .custom-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    width: 40px !important;
    height: 100px !important;
  }
}

@media (min-width: 768px) {
  .custom-bullet {
    width: 12px;
    height: 12px;
  }

  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    width: 45px !important;
    height: 110px !important;
  }
}

@media (min-width: 1024px) {
  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    width: 50px !important;
    height: 130px !important;
  }
}

.custom-bullet:hover {
  background: rgba(255, 255, 255, 0.8);
}

.swiper-pagination-bullet-active.custom-bullet {
  background: #ffffff;
  width: 10px;
  height: 10px;
}

@media (min-width: 640px) {
  .swiper-pagination-bullet-active.custom-bullet {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 768px) {
  .swiper-pagination-bullet-active.custom-bullet {
    width: 14px;
    height: 14px;
  }
}

/* Smooth transitions */
.swiper-slide {
  transition: transform 0.3s ease;
}

/* Ensure buttons don't overlap content */
.swiper-button-prev-custom {
  left: 0 !important;
}

.swiper-button-next-custom {
  right: 0 !important;
}

.btn-primary {
  @apply bg-primary  px-12 py-2 rounded-md text-base font-secondary font-bold hover:bg-secondary hover:text-white transition-all duration-200 cursor-pointer;
}

.html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
.animate-shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(
    to right,
    #f3f4f6 0%,
    #e5e7eb 20%,
    #f3f4f6 40%,
    #f3f4f6 100%
  );
  background-size: 1000px 100%;
}
